name: Deploy dbt Production on Release

on:
  release:
    types: [published] # Triggers when a new release is published

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set Release Tag Name Variable
        id: set_tag
        run: echo "RELEASE_TAG=${{ github.event.release.tag_name }}" >> $GITHUB_ENV

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.6

      - name: Trigger dbt Cloud Production Job
        env:
          DBT_TOKEN: ${{ secrets.DBT_CLOUD_API_TOKEN }}
          ACCOUNT_ID: ${{ secrets.DBT_CLOUD_ACCOUNT_ID }}
          JOB_ID: ${{ secrets.DBT_CLOUD_PROD_JOB_ID }}
        
        run: |
          # The JSON payload is wrapped in double quotes to allow shell variables ($RELEASE_TAG) to be expanded.
          # We use the 'git_branch' parameter and pass the release tag name.
          curl -X POST \
            -H "Authorization: Token $DBT_TOKEN" \
            -H "Content-Type: application/json" \
            -d "{\"cause\": \"Triggered by Git Release $RELEASE_TAG\", \"git_branch\": \"$RELEASE_TAG\"}" \
            "https://cloud.getdbt.com/api/v2/accounts/$ACCOUNT_ID/jobs/$JOB_ID/run/"

      - name: Terraform Apply
        env:
          DBT_CLOUD_ACCOUNT_ID: ${{ secrets.DBT_CLOUD_ACCOUNT_ID }}
          DBT_CLOUD_TOKEN: ${{ secrets.DBT_CLOUD_API_PAT }}
          
        run: |
          terraform init
          terraform apply -auto-approve
